<!-- Shipping Methods -->
<div data-bind="if: shippingMethods().length">
    <div id="dibs-easy-shipping-title" class="dibs-easy-ctrl-title">Shipping Methods</div>
    <div id="dibs-easy-shipping-methods">
        <div class="dibs-easy-shipping-method-wrapper" data-bind="foreach: shippingMethods">
            <div data-bind="attr: {'id': $data.code, 'class': $data.active ? 'dibs-easy-shipping-selector dibs-easy-active' : 'dibs-easy-shipping-selector dibs-easy-non-active'   }, click: $parent.shippingClick.bind($parent)"></div>
            <div> <span data-bind="text: title"> </span> - <span data-bind="text: price"> </span></div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<!-- Order summary -->
<div id="dibs-easy-ordersummary-title" class="dibs-easy-ctrl-title">Order Summary</div>
<table data-bind="foreach: cartTotals"> 
    <tr> 
        <td class="dibs-easy-totals-lable" data-bind="text: title"><b></b>
        </td>  
        <td class="dibs-easy-totals-total" data-bind="text: value, attr:{'id': 'dibs-easy-totals-' + $data.id }"><b> </b></td> 
    </tr> 
</table>
 <div id="dibseasy-switch-checkout-screen">
     <form  data-bind="attr: {'action': checkoutUrl}">
        <button type="submit" class="btn btn-outline-primary">Use other payment method</button>
     </form>
 </div>