<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Dibs\EasyCheckout\Block\Checkout\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Dibs_EasyCheckout::checkout/button.phtml</item>
                <item name="alias" xsi:type="string">dibs-easy.checkout-button</item>
                <item name="button_id" xsi:type="string">dibs-easy-checkout-button</item>
            </argument>
        </arguments>
    </type>
</config>
