<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="shortcut_buttons_container">
        <observer name="dibs_easy_shortcuts" instance="Dibs\EasyCheckout\Observer\AddDibsEasyShortcutsObserver"/>
    </event>
    <event name="sales_quote_save_before">
        <observer name="validate_payment_id" instance="Dibs\EasyCheckout\Observer\ValidatePaymentId" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="saver_order_dibs_payment_info" instance="Dibs\EasyCheckout\Observer\SaveOrderDibsPaymentInfo" />
    </event>
    <event name="sales_order_payment_capture">
        <observer name="dibs_set_invoice_to_payment_obj" instance="Dibs\EasyCheckout\Observer\SetInvoiceToPaymentObject"/>
    </event>
</config>
