<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2009-2017 Vaimo Group. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="dibs_easy" id="dibs_easy">
            <module name="Dibs_EasyCheckout"/>
        </route>
    </router>
</config>