& when (@media-common = true) {

    .cart-thead {
        text-transform: uppercase;
        color: #575757;
	
    }

    .dibs-easy-product-thumbnail {
        width: 100px;
        padding: 0;
    }

    .dibs-easy-thumb-td {
        width: 100px;
    }

    .dibs-easy-descr-td {
        width: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .dibs-easy-qty-td {
        width: 100px;
    }

    .dibs-easy-price-td {
        width: 100px;
    }

    .dibs-easy-subtotal-td {
        width: 100px;
    }

    .dibs-easy-cart-row td {
        
    }

    #dibs-easy-controls {
        float: left;
        width: 500px;
    }

    #dibs-easy-window {
        float: left;
        width: 600px;
    }

    #clear {
        clear: both;
    }

    #dibs-easy-shipping-title {
        /* Style for "Shipping m" */
        height: 36px;
        color: #333333;
        font-family: "Source Sans Pro Light";
        font-size: 30px;
        font-weight: 300;
        line-height: 31px;
    }

    #dibs-easy-ordersummary-title {
        /* Style for "Order Summ" */
        height: 38px;
        color: #1d1d1b;
        font-family: "Source Sans Pro Light";
        font-size: 30px;
        font-weight: 300;
    }

    .dibs-easy-ctrl-title {
        width: 300px;
    }

    .dibs-easy-shipping-selector {
         width:30px;
         height:30px;
         float: left;
         cursor:pointer;
    }

    .dibs-easy-shipping-button:hover {
        cursor: pointer;
    }

    .clear {
        clear:both;
    }

    .dibs-easy-active {
         background: url(../Dibs_EasyCheckout/images/dibs-shipping-selector-active.png) no-repeat; 
    }

    .dibs-easy-non-active {
         background: url(../Dibs_EasyCheckout/images/dibs-shipping-selector-non-active.png) no-repeat; 
    }

    .dibs-easy-qty-td {
        padding-top: 50px;
    }

    .dibs-easy-price-td {
        padding-top: 50px;
    }

    .dibs-easy-subtotal-td {
        padding-top: 50px;
    }
    .dibs-easy-subtotal-td {
         padding-top: 50px;
    }

    .dibs-easy-remove-link {
         width: 120px;
         padding-top: 50px;
    }

    #dibs-easy-grand-total {
        /* Style for "357,00" */
        width: 69px;
        height: 28px;
        color: #444444;
        font-size: 24px;
        font-weight: 600;
        line-height: 23px;
    }

    #dibs-easy-totals-currency {
        /* Style for "Hide" */
        width: 570px;
        height: 909px;
        background-color: #ffffff;
    }

    .dibs-easy-totals-lable {
        width: 150px;
    }
    
    #dibs-easy-grand-total {
        font-weight:bold;
    }
 
}

@media screen and (max-width: 480px) {
    #dibs-easy-controls {
        float: none;
        width: 500px;
    }
    #dibs-easy-controls {
        border: 1px solid;
    }
}

@media (min-width: 1025px){
    #dibseasy-switch-checkout-mobile {
        display: none;
    } 
}

#dibseasy-switch-checkout-mobile {
    margin-left: 35%;
}



@media (min-width: 1281px) {
  
  #dibseasy-switch-checkout-mobile {
        display: none;
   } 
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
   #dibseasy-switch-checkout-mobile {
        display: none;
   } 
   
    #dibseasy-switch-checkout-screen {
        display: block;
   } 
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  //CSS
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
   #dibseasy-switch-checkout-mobile {
        display: block;
   } 
   
   #dibseasy-switch-checkout-screen {
        display: none;
   } 
}



.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }


.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff; 
  border-radius: 25px;
  height: 40px;
}
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
