& when (@media-common = true) {

     .dibs_easy_checkout_button {
        background: #0072BC url(../Dibs_EasyCheckout/images/dibs-button-notext.png) no-repeat scroll right center / auto 40px;
        height: 40px;
        line-height: 40px;
        padding-right: 70px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        display: block;
        color: #FFF;
        font-size: 10px;
        text-align: center;
        margin: 5px 0;

        &:hover {
            background-color: #006bb4;
            color: #FFF;
            text-decoration: none;
        }
        &:focus,
        &:active,
        &:visited {
            color: #FFF;
            text-decoration: none;
        }
    }

    .cart-thead {
        text-transform: uppercase;
        color: #575757;
	
    }

    .dibs-easy-product-thumbnail {
        width: 100px;
        padding: 0;
    }

    .dibs-easy-thumb-td {
        width: 100px;
    }

    .dibs-easy-descr-td {
        width: 200px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .dibs-easy-qty-td {
        width: 100px;
    }

    .dibs-easy-price-td {
        width: 100px;
    }

    .dibs-easy-subtotal-td {
        width: 100px;
    }

    .dibs-easy-cart-row td {
        
    }

    #dibs-easy-controls {
        float: left;
        width: 500px;
    }

    #dibs-easy-window {
        float: left;
        width: 600px;
    }

    #clear {
        clear: both;
    }

    #dibs-easy-shipping-title {
        /* Style for "Shipping m" */
        height: 36px;
        color: #333333;
        font-family: "Source Sans Pro Light";
        font-size: 30px;
        font-weight: 300;
        line-height: 31px;
    }

    #dibs-easy-ordersummary-title {
        /* Style for "Order Summ" */
        height: 38px;
        color: #1d1d1b;
        font-family: "Source Sans Pro Light";
        font-size: 30px;
        font-weight: 300;
    }

    .dibs-easy-ctrl-title {
        width: 300px;
    }

    .dibs-easy-shipping-selector {
         width:30px;
         height:30px;
         float: left;
         cursor:pointer;
    }

    .dibs-easy-shipping-button:hover {
        cursor: pointer;
    }

    .clear {
        clear:both;
    }

    .dibs-easy-active {
         background: url(../Dibs_EasyCheckout/images/dibs-shipping-selector-active.png) no-repeat; 
    }

    .dibs-easy-non-active {
         background: url(../Dibs_EasyCheckout/images/dibs-shipping-selector-non-active.png) no-repeat; 
    }

    .dibs-easy-qty-td {
        padding-top: 50px;
    }

    .dibs-easy-price-td {
        padding-top: 50px;
    }

    .dibs-easy-subtotal-td {
        padding-top: 50px;
    }
    .dibs-easy-subtotal-td {
         padding-top: 50px;
    }

    .dibs-easy-remove-link {
         width: 120px;
         padding-top: 50px;
    }

    #dibs-easy-grand-total {
        /* Style for "357,00" */
        width: 69px;
        height: 28px;
        color: #444444;
        font-size: 24px;
        font-weight: 600;
        line-height: 23px;
    }

    #dibs-easy-totals-currency {
        /* Style for "Hide" */
        width: 570px;
        height: 909px;
        background-color: #ffffff;
    }

    .dibs-easy-totals-lable {
        width: 150px;
    }
    
    #dibs-easy-grand-total {
        font-weight:bold;
    }

}